body {
  font-family: Roboto, sans-serif;
}

h1 {
  font-weight: 100;
}

#wrap {
  display: flex;
  overflow-x: hidden;
  font-size: 3.5vw;
}

aside {
  position: absolute;
  height: 100%;
  transition: width .5s;
  nav {
    width: $aside-width;
    height: 100%;
    color: white;
    background: $color-box;
    ul {
      li {
        font-weight: 100;
        font-size: 1.2em;
        border-top: thin solid lighten($color-box, 10%);
        padding: 0 1.5em;
        line-height: 3em;
        background: transparent;
        transition: .25s;
        &:hover {
          cursor: pointer;
          background: lighten($color-box, 10%);
        }
      }
    }
  }
}

#content {
  left: 0;
  transition: .5s;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  box-shadow: 0 -8px 32px rgba(black, .5);
  &.nudge {
    left: $aside-width;
  }
}

.content {
  position: relative;
  margin: auto;
  width: 85%;
}

header {
  color: white;
  position: relative;
  background: $color-theme;
  height: $header-height;
  padding: 0 1em;
  z-index: 1;
  box-shadow: 0 2px 8px rgba(black, .33);
  display: flex;
  align-items: center;
  h1 {
    font-size: 1.5em;
    margin: 0 .5em;
  }
}

.icon.menu {
  width: $header-height;
  height: $header-height;
  background: transparent;
  display: flex;
  transition: .25s;
  &:hover {
    cursor: pointer;
    background: lighten($color-theme, 10%);
  }
  svg {
    width: 2em;
    height: 2em;
    margin: auto;
    fill: white;
  }
}

section {
  flex: 1;
  position: relative;
  background: $color-offwhite;
  align-items: stretch;
  .content {
    margin: 0;
    width: 100%;
  }
}

.box {
  color: $color-content;
  background: white;
  box-shadow: 0 2px 8px rgba(black, .33);
  padding: 1.25rem 2rem;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1em;
  text-transform: uppercase;
  padding: 12px 16px;
}

p {
  text-align: justify;
  line-height: 1.5;
  font-size: 1em;
  &:not(:first-child) {
    margin-top: 1rem;
  }
}

.banner {
  width: 100%;
  height: 25vw;
  max-height: 280px;
  background-image: url(https://pbs.twimg.com/media/CtnYWPjXEAEEyB2.jpg);
}

@media (min-width: 480px) {
  #wrap {
    font-size: 1rem;
  }
}

@media (min-width: 640px) {
  header {
    h1 {
      font-size: 2rem;
    }
    .icon.menu {
      display: none;
    }
  }
  aside {
    position: relative;
  }
  #content.nudge {
    left: 0;
    transition: none;
  }
}

@media (min-width: 960px) {
  section {
    .content {
      width: 85%;
      margin: 16px auto;
    }
  }
  .box {
    padding: 3% 5%;
    border-radius: 4px;
  }
}
