#player {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background: $color-theme;
  color: white;
  height: $header-height;
  align-items: center;
  box-shadow: $shadow;
  .clickable {
    margin: 0 12px;
    cursor: pointer;
    transition: .25s;
    &:hover {
      background: lighten($color-theme, 10%);
    }
  }
}