a {
  color: white;
  text-decoration: none;
}

.menu-item {
  -webkit-transition: color 5s ease;
  transition: color 5s ease;
  color: white;
  padding: 15px 0 0 15px;
}

.menu-item:hover {
  color: #380470;
}

.bm-menu {
  background: #100120;
  padding: 2.5em 1.5em 0;
  font-size: 1.5em;
  height: 100%;
  bottom: 5%;
}