#sliderWrap {
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 3%;
  padding: 7% 0 7% 0;
  // &:first-child {}
  &:nth-child(even) { background-color: #FFFFFF; }
}

// #imageRow { margin-top: 3%; }

.categoryName {
  position: absolute;
  left: 9.4%;
}

.featuredShow {
  margin: 0px 5px 0 5px;
  &:hover { cursor: pointer; }
}

#left-arrow, #right-arrow {
  &:hover { cursor: pointer; }
}