#sliderWrap {
  display: flex;
  position: relative;
  justify-content: center;
}

.categoryName {
  position: absolute;
  left: 9.4%;
  top: 25%;
}

.featuredShow {
  margin: 10% 5px 0 5px;
  &:hover {
    cursor: pointer;
  }
}

#left-arrow, #right-arrow {
  &:hover {
    cursor: pointer;
  }
}