#sliderWrap {
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 3%;
  padding: 7% 0 7% 0;
  // &:first-child { margin-top: 15%; }
  &:nth-child(even) { background-color: #FFFFFF; }
  // &:last-child{ bottom: 0; }
}

// #imageRow { margin-top: 3%; }

.categoryName {
  // left: 9.4%;
  bottom: -30%;
  z-index: 10;
}

.featuredShow {
  margin: 0px 5px 0 5px;
  &:hover {cursor: pointer;}
}

#left-arrow, #right-arrow {
  &:hover { cursor: pointer; }
}