mixin sidebar
    aside#sidebar
        nav#nav
            header#nav-header
                i#nav-icon.nav-header-item.material-icons menu
                h3#nav-title.nav-header-item Menu
            ul#nav-list
                li.nav-entry
                    a.nav-link Discover
                li.nav-entry
                    a.nav-link New Releases
                li.nav-entry
                    a.nav-link Categories

mixin modal
    .modal
        button.modal-close(v-on:click='showModal = false')
            i.material-icons.modal-close-icon close
        section.modal-title-section
            span.modal-title Podcatch
        section.modal-input-section
          form(method='post' action='/login' id='form' name='loginForm')
            .modal-input-wrap
                input.modal-item.modal-input.username(for ='loginForm' id='userVal' name='username' placeholder='Username')
                i.modal-icon.material-icons person
                .modal-input-tab
                .modal-input-border
            .modal-input-wrap
                input.modal-item.modal-input.password(for='loginForm' id='passVal' name='password' placeholder='Password' type='password')
                i.modal-icon.material-icons lock
                .modal-input-tab
                .modal-input-border
                button.modal-item.modal-button.submit(id='btnSubmit' type='submit') Login
        section.modal-button-section

mixin card(podcast)
    -var text = podcast.toUpperCase().replace('-', ' ')
    .card-wrap
        .card
            //- Borked right now
            img.card-image(src='/images/hidden-brain.png')

doctype
html
    head
        title Podcatch
        meta(name='viewport' content='initial-scale=1')
        link(href='https://fonts.googleapis.com/css?family=Roboto:100,400,700|Material+Icons' rel='stylesheet' type='text/css')
        link(href='/styles/main.css' type='text/css' rel='stylesheet')
    body
        #wrap
            .overlay(v-bind:class='{visible: showModal}')
                +modal
            +sidebar
            article#article(v-bind:class='{nudge: showSidebar}')
                header#header
                    section.header-section#brand
                        button.header-item.header-icon.brand-item.brand-icon#menu-button
                            i#menu-icon.material-icons(v-on:click='showSidebar = true' v-if='!showSidebar') menu
                            i#menu-icon.material-icons(v-on:click='showSidebar = false' v-else) close
                        h1.header-item.header-text.brand-item.brand-text#title Podcatch
                    button.header-section#meta(v-on:click='showModal = true')
                        span.header-item.header-text.meta-item.meta-text Login
                        i.header-item.header-icon.meta-item.meta-icon.material-icons person
                section#content-wrap
                    #banner.banner.image
                    #content
                        section.content-section.box
                            h2 Welcome to Podcatch
                            p Mexico small hands cuck pence north korea, red states fam small hands. Obamacare gilmore red states emails thanks obama, mannequin challenge famous fox news clinton trump’s coming. The Rock alt-right rubio fox news snowden, facebook live egyptair obamacare bernie. FR fam because convention clinton facebook live fake news global warming fox news trump. Because emails damn daniel benghazi putin the kardashians fam blue states.

                        section.content-section#cards
                            //- Use the getFeed() function in podcasts.js to render cards here
                            +card('science-vs')
                            +card('startup')
                            +card('surprisingly-awesome')
                            +card('reply-all')
                            //- +card('wait-wait-dont-tell-me')
                            //- +card('this-american-life')
                            //- +card('ted-radio-hour')
                            //- +card('car-talk')
                            //- +card('fresh-air')
                            //- +card('hidden-brain')
                            +card('heavyweight')
                footer#footer
                    span#footer-text &copy;2016 Podcatch.
        script(src='https://www.gstatic.com/firebasejs/3.6.1/firebase.js')
        script(src='../scripts/output/bundle.js')
